

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



@keyframes sleepy {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}



#radio.playing {
  animation: shake 1.5s;
  animation-iteration-count: infinite;
}




















* { margin: 0; padding: 0; box-sizing: border-box; }

:root
{
	--headerHeight: min(80px, 16vh);

	/* automatic calculation */
	--frameHeight: calc(100vh - var(--headerHeight)); /* cross product of height */
	--frameWidth: calc((16 * (100vh - var(--headerHeight))) / 9); /* (window width - frame width) / 2 */
	--frameMargin: max((calc(100vw - var(--frameWidth)) / 2), 0vw);

	/*
	--frameMargin: calc((100vw - var(--frameWidth)) / 2);
	*/
}

body
{
	overflow: hidden;
	background-color: #ffffed;
}

	main
	{
		top: var(--headerHeight);
		/*background-color: orange;*/

		height: var(--frameHeight);
		width: 100vw;

		overflow-x: auto;
		overflow-y: hidden;

		position: relative;
	}

		/*
			preserveAspectRatio="xMinYMin meet"
		*/

		main #myOffice
		{
			height: var(--frameHeight);
			width: var(--frameWidth);

			margin-left: var(--frameMargin);
			position: absolute;
			top: 0; left: 0;

			overflow: hidden;

			z-index: 1;
		}

			main #myOffice img#logo
			{
				position: absolute;
				top: calc(100% * .8);
				left: calc(100% * .8);
				width: 50px; height: 50px;
			}

			/*
			main #myOffice img#desk
			{
				position: absolute;
				top: 0; left: 0;
				width: 100%; height: 100%;

				transition: all .2s ease;
			}
			*/


				/*
				main #myOffice img:hover
				{
					transform: scale(1.02);
					opacity: .8;
				}
				*/
/*
			main #myOffice img#keyboard
			{
				position: absolute;
				top: 60%;
				left: 5%;
				width: 90%; height: 100%;

				transform-origin: top;

				transition: all .2s ease;

				background-color: pink;
			}
*/

			main #myOffice img, main #myOffice video
			{
				position: absolute;

				transform-origin: center;
				transition: all .3s ease;

				cursor: pointer;

				/*background-color: orange;*/
			}


				main #myOffice img#desk { z-index: 8; }
				main #myOffice img {
					z-index: 10;
				}


			/* BACKGROUND */
			main #myOffice img#diploma
			{
				top: 10%; left: 7%;
				width: 20%; height: 20%;
			}

			main #myOffice img#sticker
			{
				position: absolute;
				top: 15%; left: 65.5%;
				width: 7%; height: 12%;
			}


			main #myOffice img#switch
			{
				top: 40%; left: 5%;
				width: 9%; height: 9%;
			}




			main #myOffice img#shelf
			{
				top: 8%; left: 73%;
				width: auto; height: 38%;
				cursor: default;
			}

				main #myOffice img#radio
				{
					top: 23%; left: 77%;
					width: 12%; height: 18%;
				}

				main #myOffice img#vega
				{
					top: 1%; left: 76%;
					width: auto; height: 18%;

					cursor: grab;

					animation: sleepy 3.0s;
					animation-iteration-count: infinite;
				}




			/* DESK */



			main #myOffice img#desk
			{
				bottom: 0%; left: 2.5%;
				width: 95%; height: auto;
				cursor: default;
			}


			main #myOffice img#keyboard
			{
				top: 75%; left: 37%;
				width: 26%; height: auto;
			}

			main #myOffice img#mouse
			{
				top: 76%; left: 67%;
				width: auto; height: 8%;
			}

			main #myOffice img#monitor
			{
				top: 14%; left: 35%;
				width: auto; height: 46%;
				cursor: default;
			}

				main #myOffice img#cursor
				{
					top: 16%; left: 37%;
					width: auto; height: 1.5%;

					z-index: 9;
				}

				#monitor-background, 
				#monitor-display
				{
					filter: saturate(80%);
				}

				#monitor-background
				{
					position: absolute;
					top: 15.2%; left: 35.9%;
					width: 27.3%; height: 27%;

					border:none;

					z-index: 7;

					background-color: #ffffed;
				}

				#monitor-display
				{
					position: absolute;
					top: 16.35%; left: 37%;
					width: 25%; height: 25%;

					border:none;

					z-index: 8;
				}


			main #myOffice img#macbook
			{
				top: 38%; left: 16%;
				width: auto; height: 26%;
			}

				#macbook_background
				{
					position: absolute;
					z-index: 9;
					top: 38.5%; left: 18.1%;
					width: 15.6%; height: 17%;
					background-color: black;
				}

				main #myOffice video#jolitube
				{
					z-index: 9;
					top: 39.25%; left: 18.5%;
					width: 15%; height: 15%;

					/*border:5px black solid;
					background-color: black;*/
				}

			main #myOffice img#ruler
			{
				top: 62%; left: 33%;
				width: auto; height: 15%;
			}



			main #myOffice img#notepad
			{
				top: 66%; left: 18%;
				width: auto; height: 22%;

				cursor: default;
				/*cursor: grab;*/
			}

				canvas {
					position: absolute;
					top: 69%; left: 20.5%;
					width: 9.5%; height: 18%;

					z-index: 11;

					background-color: transparent; /* transparent */
					border: none;

					cursor: url("rsrc/img/cursor-pen-16.png"), crosshair;
				}




			main #myOffice img#tarzanne
			{
				top: 31%; left: 66%;
				width: auto; height: 26%;
			}


				main #myOffice img#diploma:hover,
				main #myOffice img#keyboard:hover,
				main #myOffice img#mouse:hover,
				main #myOffice #macbook:hover,
				main #myOffice #macbook:hover + video,
				main #myOffice #macbook:hover + #macbook_background,
				main #myOffice img#ruler:hover,
				main #myOffice img#tarzanne:hover,
				main #myOffice img#sticker:hover
				{
					transform: scale(1.05);
					/*opacity: .9;*/
					filter: brightness(60%);
				}






			main img#jacquouille
			{
				position: fixed;
				bottom: -1%; left: 2%;
				width: auto; height: 45%;
				cursor: default;

				transition: all .4s ease;

				z-index: 998;
			}

			main img#bulle
			{
				position: fixed;
				bottom: 20%; left: 16%;
				width: 34%; height: 34%;
				cursor: default;

				transition: all .7s ease;

				z-index: 999;
			}

			main img#jacquouille,
			main img#bulle
			{ transform: translateY(200%); z-index: 999; }

			main img#jacquouille.displayed,
			main img#bulle.displayed/*.displayed*/
			{
				transform: translateY(0%);
			}


header
{
	height: var(--headerHeight);
	width: 100vw;

	position: fixed;
	top: 0;
	left: 0;
	display: flex;

	z-index: 100;
}

	header > div
	{
		width: min(var(--frameWidth), 100vw);
		margin: auto;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	header h1
	{
	}

		header h1 a
		{
			display: inline-block;

			text-decoration: none;

			transition: all .2s ease;
			transform-origin: left;
		}

			header h1 a:hover
			{ transform: scale(1.02); opacity: .8; }

			header h1 a img
			{
				height: calc(var(--headerHeight) * .8);
				/*width: 100%;*/
				margin: calc(var(--headerHeight) * .1);

				vertical-align: top;
			}

	header button
	{
		width: var(--headerHeight);
		height: var(--headerHeight);
		font-size: var(--headerHeight);
		vertical-align: text-top;

		overflow: hidden; /* bug with text content on firefox TODO : maybe removable in the future */

		-webkit-appearance: none;
    	-moz-appearance: none;
    	border: none;
    	background-color: transparent;
	}

		header button img
		{
			width: 100%;
			height: 100%;
			padding: 20%;

			cursor: pointer;

			transition: all .3s ease;
		}

		header button:hover img
		{ transform: scale(1.05); opacity: .8; }














	#link-presentation
	{ 
		position: absolute;
		top: 0; left: 0;
		height: var(--frameHeight);
		display: none;
		z-index: 100;

		transition: all .3s ease;

		overflow: hidden;
	}

		#link-presentation.displayed
		{ display: block; }

		#link-presentation-background
		{
			z-index: 100;
			background-color: black;
			opacity: 0;
			width: max(100vw, (16 / 9) * 100vh);
			height: 100vh;
		}


		#content-frame
		{
			position: fixed;
			/*top: max(20px, min(10vh, 10vw)); left: max(20px, min(10vh, 10vw));*/
			top: max(10px + var(--headerHeight), min(6vh, 6vw) + var(--headerHeight)); left: max(10px + var(--frameMargin), min(6vh, 6vw) + var(--frameMargin));
			width: min(500px, 88vw);
			height: min(500px, 88vh);
			background-color: #ffffed;

			padding: max(10px, min(6vh, 6vw));

			box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

			transition: all .3s ease;

			opacity: 1;

			transform: translateY(50%);
		}

		.displayed #content-frame
		{
			transform: translateY(0%);
		}



		#content-logo
		{
			max-height: 60px;
			width: auto;
			max-width: 50%;
		}









#hiddenMedia
{
	position: fixed;
	top: 0; left: 0;
	z-index: -999999999;
	opacity: 0;
	width: 0; height: 0;
	overflow: hidden;

}
















	body.night
	{
		background-color: #1C1C1C;
	}

	body.night main #myOffice img
	{
		filter: brightness(.3);
	}

	body.night header
	{
		filter: invert(100%);
	}



	/* TODO :; filter: drop-shadow(16px 16px 20px red); */